.home-page{
  margin: ($base-size * 3.5) auto;
  padding: ($base-size * 6) ($base-size * 4);
  background: $color-light;
  border-bottom: 1px solid lighten($color-dark, 70%);
  border-radius: $radius;
}

.two{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left, .right, .onepic{
  border: 2px black solid;
  border-radius: 5px;
  height: 15vh;
  color: antiquewhite;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

h1{
  margin: 0;
}

.left {
  background-image: url('./../../images/assets/pizza-1.jpg');
  width: 44%;
  margin: 0 0 0 5%;

}

.right {
  background-image: url('./../../images/assets/pizza-2.jpg');
  width: 44%;
  margin: 0 5% 0 0;
}

.onepic{
  margin: 1% 5%;
  background-color: rgb(240, 66, 66);
  flex-direction: column;
}

.firstSlide{
  display:flex;
  flex-direction: row;
  width:100%;
}

.carouselContent{
  display: flex;
  flex-direction: column;
}